<!-- Original page view document created by Tess Bianchi -->
<!-- Major style updates made by Michael Levecque -->

<!DOCTYPE html>
<html>

  <head>
    <!-- Referencing core.css style sheet under modules/core/client/css -->
    <link rel="stylesheet" href="/core/client/css/core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

  <!-- Consistent gradient banner under navbar. -->
    <section>
      <div class="jumbotron gradient-banner text-center">
        <span class="subtitle">Just One Drop.</span>
      </div>
    </section>

    <!-- Parallax with stock heart healthy photo, see core.css -->
    <div class="parallax-heart">
      <div class="parallax-window">
        <span class="para-caption wow animated fadeInDown">{{vm.publictext[0].parallaxCapt1}}</span>
      </div>
    </div>

    <!-- "Snack" header with blurb -->
    <div class="container container-padding">

      <!-- Animated header -->
      <h1 class="wow animated fadeInLeft">{{vm.publictext[0].heading1}}</h1>
      <!-- Animated blurb -->
      <p class="wow animated fadeIn">{{vm.publictext[0].shortText1}}</p>
    </div>

    <!-- Parllax divider -->
    <div class="parallax-heart">
      <div class="parallax-window">
        <span class="para-caption wow animated fadeInDown">{{vm.publictext[0].parallaxCapt2}}</span>
      </div>
    </div>

    <!-- Beginning FAQ section  with header and short blurb -->
    <div class="container container-padding">

      <!-- Animated header -->
      <h1 class="wow animated fadeInLeft">{{vm.publictext[0].heading2}}</h1>
      <!-- Animated blurb -->
      <p class="wow animated fadeIn">{{vm.publictext[0].shortText2}}</p>
    <!-- </div> -->

    <!-- Container for all added FAQ collapsibles -->
    <!-- <div class="container container-padding"> -->
      <div class="row">
        <div class="col-md-12">

          <!-- Accordion structure for the FAQs -->
          <uib-accordion close-others="vm.oneAtATime">
            <div uib-accordion-group class="panel-default" heading="{{faq.title}}" ng-repeat="faq in vm.faqs">
            <p>{{faq.content}}</p>
            </div>
          </uib-accordion>

        </div>
      </div>

      <!-- Message at end of FAQ section to let the user know that they are able to submit a inquiry to the company -->
      <h2 style="text-align: center;">Still got something on your mind? Want to voice your opinion? <div style="color: #DB2C65"><b>Submit your inquiry below!</b></div></h2>

    </div>

    <!-- Parallax divider -->
    <div class="parallax-heart">
      <div class="parallax-window">
        <span class="para-caption wow animated fadeInDown">{{vm.publictext[0].parallaxCapt3}}</span>
      </div>
    </div>

    <!-- Beginning of Section for the public inquiry form -->
    <div class="container container-padding">
      
      <!-- Animated header -->
      <h1 class="wow animated fadeInLeft">{{vm.publictext[0].heading3}}</h1>
      <!-- Animated blurb -->
      <p class="wow animated fadeIn">{{vm.publictext[0].shortText3}}</p>

      <!-- Column section for inquiry form to keep style consistent with form on Business Inquiry page.-->
      <div class="row">
        <div class="col-md-12">

          <!-- Public Inquiry submission form -->
          <form class="form-horizontal">

            <div>
              <h3 class="wow animated fadeIn" for="exampleInputName2">Name</h3>
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>

            <div>
              <h3 class="wow animated fadeIn" for="exampleInputEmail2">Email</h3>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>

            <div>
              <h3 class="wow animated fadeIn" for="exampleInputText">Your Message</h3>
              <textarea  class="form-control" placeholder="Description"></textarea> 
            </div>

            <div class="row-padding">
              <button type="submit" class="custom-button" ng-click="vm.sendMail()">Send Message</button>
            </div>

          </form>
        </div>
      </div>

      <!-- Final centered section for social media links -->

      <!-- ************************************************* -->
      <!-- NEED TO LINK THESE TO THE SOCIAL MEDIA ACCOUNTS THEY ACTUALLY HAVE -->
      <!-- ************************************************* -->

      <div class="row">
        <div class="col-md-12 text-center">

          <hr>
          <h2 class="wow animated fadeIn">Visit Our Social Sites</h2>
          <ul class="list-inline banner-social-buttons">

            <li><a href="#"><i class="fa fa-twitter" style="font-size:36px;color:#55ACEE"></i></a></li>

            <li><a href="#"><i class="fa fa-facebook" style="font-size:36px;color:#3B5998"></i></a></li>

            <li><a href="#"><i class="fa fa-youtube-play" style="font-size:36px;color:#CC181E"></i></a></li>
          </ul>

        </div>
      </div>    
    </div>
  </body>
</html>