

<section>
  <div class="page-header">
    <h1>Admin</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <!-- articles edit page!-->
          <a ui-sref="admin.articles.list">Blog</a>
        </li>
        <li ui-sref-active="active">
          <!-- releases edit page!-->
          <a ui-sref="admin.releases.list">Press Releases</a>
        </li>
        <li ui-sref-active="active">
          <!-- FAQ edit page!-->
          <a ui-sref="admin.faqs.list">FAQ</a>
        </li>
          <!-- About Us User description edit page! -->
        <li ui-sref-active="active">
          <a ui-sref="admin.abouts.list">About Us</a>
        </li>
        <li ui-sref-active="active">
          <!-- hometexts edit page!-->
          <a ui-sref="admin.hometext.list">Text Fields: Home Page</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="admin.users">Users</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a href="/api/auth/signout" target="_self">Signout</a>
        </li>
        <!-- Add new links to site management here !-->



      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div class="page-header">
          <h1>
            Home Text
            <a class="btn btn-primary pull-right" data-ui-sref="admin.hometext.create">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
          </h1>
        </div>
        <div class="list-group">
          <a data-ng-repeat="hometext in vm.hometexts" data-ui-sref="admin.hometext.edit({hometextId: hometext._id})" class="list-group-item">
            <small class="list-group-item-text">
              Posted on
              <span data-ng-bind="hometext.created | date:'mediumDate'"></span>
              by
              <span ng-if="hometext.user" ng-bind="hometext.user.displayName"></span>
              <span ng-if="!hometext.user">Deleted User</span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="hometext.bannerText"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="hometext.parallaxCapt1"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="hometext.heading1"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="hometext.heading2"></h4>
            <p class="list-group-item-text" data-ng-bind="hometext.mainText1"></p>
            <h4 class="list-group-item-heading" data-ng-bind="hometext.parallaxCapt2"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="hometext.releasesHeading"></h4>
            <p class="list-group-item-text" data-ng-bind="hometext.releasesText"></p>
          </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-if="hometexts.$resolved && !hometexts.length">
          No hometext yet, why don't you <a data-ui-sref="admin.hometexts.create">create one</a>?
      </div>
  </div>
</section>
