<!-- Original page view document created by Tess Bianchi -->
<!-- Major style updates made by: Michael Levecque -->

<!DOCTYPE html>
<html>
  <head>
    <!-- Referencing core.css style sheet under modules/core/client/css -->
    <link rel="stylesheet" href="css/core.css">
  </head>
  <body>

    <!-- Consistent gradient banner under navbar. -->
    <section>
      <div class="jumbotron gradient-banner text-center">
        <span class="subtitle">Just One Drop.</span>
      </div>
    </section>

    <!-- Parallax with stock blueberry photo, see core.css -->
    <div class="parallax-blue">
      <div class="parallax-window">
        <div class="container para-caption img-resposive">Business Inquiry</div>
      </div>
    </div>

    <!-- "Snack" section with header and short blurb between parallax dividers -->
    <div class="container container-padding">
      <h1>What It Means to Work with Us</h1>
      <p>This is a blurb statement to clarify what it means to partner with Heart Healthy Spirits, and also what constitutes a business inquiry over a general, public inquiry.  This inquiry's goal is to establish connections with companies interested in licensing deals to get the t*Rez product into their respective products.</p>

      <button class="custom-button" ng-click="vm.slideDeckModal()">Find out more!</button>

    </div>

    <!-- Parallax divider -->
    <div class="parallax-blue">
      <div class="parallax-window">
        <div class="container para-caption img-resposive">I like where this is going...</div>
      </div>
    </div>

    <!-- Container for section containing Business Inquiry submission form -->
    <div class="container container-padding">
      <div class="row">

        <h1>Let's Discuss the Possibilities</h1>

        <!-- Left-most column section for business inquiry form -->
        <div class="col-md-6">


        <form class="form-horizontal" name="business_inq_form">
          <div class="form-group">
            <h3 for="exampleInputName2">Name</h3>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" ng-model="vm.data.contactName" required="true">
          </div>
          <div class="form-group">
            <h3 for="exampleInputEmail2">Email</h3>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com" ng-model="vm.data.contactEmail" required="true">
          </div>

          <!-- ADDED EXTRA PARAMETER FOR COMPANY NAME FORM INPUT, NEED TO MAKE SURE THIS IS CONNECTED ALSO -->
          <div class="form-group">
            <h3 for="exampleInputCompanyName2">Company Name</h3>
            <input type="company" class="form-control" id="exampleInputCompanyName2" placeholder="Antioxidant Infusion 'R' Us" ng-model="vm.data.companyName" required="true">
          </div>
          <!-- ********************************************************************************************* -->

          <div class="form-group ">
            <h3 for="exampleInputText">Your Message</h3>
           <textarea  class="form-control" placeholder="Description" ng-model="vm.data.contactMsg" required="true"></textarea> 
          </div>
          <button type="submit" class="btn btn-default" ng-disabled="business_inq_form.$invalid" ng-click="vm.sendMail()">Send Message</button>
        </form>



        </div>

        <!-- Rightmost column section (next to business inquiry form section) to serve as a placeholder for stock content (photos, videos, or other) -->
        <div class="col-md-6">
          <!-- Stock image of Dropper -->
          <!-- PHOTO CREDIT: -->
          <!-- https://icons8.com/icon/46237/color-dropper -->
          <img  style="width: 500px" src="/modules/core/client/img/testImages/dropper.png">
        </div>
      </div>

      <!-- Final centered section for social media links -->
      <!-- WILL HAVE TO ADAPT THESE TO THE SOCIAL MEDIA ACCOUNTS THEY ACTUALLY HAVE -->
      <div class="row">
        <div class="col-md-12 text-center">
          <hr>
          <h2>Visit Our Social Sites</h2>
          <ul class="list-inline banner-social-buttons">

            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>

            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>

            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>

          </ul>
        </div>
      </div>
    </div>
  </body>
</html>