<head>
<!-- <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
 --><link rel="stylesheet" href="css/core.css">
</head>
<body>

  <section>
    <div class="jumbotron gradient-banner text-center">
      <span class="subtitle">Just One Drop.</span>
    </div>
  </section>

  <div class="parallax-heart">
    <div class="parallax-window">
      <div class="container para-caption img-resposive">Business Inquiry</div>
    </div>
  </div>

  <div class="container container-padding">
    <h1>What It Means to Work with Us</h1>
    <p>This is a blurb statement to clarify what it means to partner with Heart Healthy Spirits, and also what constitutes a business inquiry over a general, public inquiry.  This inquiry's goal is to establish connections with companies interested in licensing deals to get the t*Rez product into their respective products.</p>
  </div>

  <div class="parallax-heart">
    <div class="parallax-window">
      <div class="container para-caption img-resposive">I like where this going...</div>
    </div>
  </div>

  <div class="container container-padding">
    <!-- <h2>Business Inquiry</h2>
    <p>Serious Inquiries only</p> -->
    <div class="row">

      <h1>Let's Discuss the Possibilities</h1>

      <div class="col-md-6">

        <form class="form-horizontal">
          <div class="form-group">
            <h3 for="exampleInputName2">Name</h3>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
          </div>
          <div class="form-group">
            <h3 for="exampleInputEmail2">Email</h3>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
          </div>

          <!-- ADDED EXTRA PARAMETER FOR COMPANY NAME FORM INPUT, NEED TO MAKE SURE THIS IS CONNECTED ALSO -->
          <div class="form-group">
            <h3 for="exampleInputCompanyName2">Company Name</h3>
            <input type="company" class="form-control" id="exampleInputCompanyName2" placeholder="Antioxidant Infusion 'R' Us">
          </div>
          <!-- ********************************************************************************************* -->

          <div class="form-group ">
            <h3 for="exampleInputText">Your Message</h3>
           <textarea  class="form-control" placeholder="Description"></textarea> 
          </div>
          <button type="submit" class="btn btn-default">Send Message</button>
        </form>
      </div>

      <div class="col-md-6">
        <!-- https://icons8.com/icon/46237/color-dropper -->
        <img  style="width: 500px" src="/modules/core/client/img/testImages/dropper.png">
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <hr>
        <h3>Our Social Sites</h3>
        <ul class="list-inline banner-social-buttons">
          <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
          <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
          <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
        </ul>
      </div>
    </div>
  </div>


<body>