<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/core.css">
  </head>
  <body>


  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
<div class="row">

<div class="col-md-6 text-center">
    <div class="contact-section container-fluid">
          <h2>Contact Us</h2>
          <p>Feel free to shout us by feeling the contact form or visiting our social network sites like Fackebook and Twitter.</p>
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="exampleInputName2">Name</label>
                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                </div>
                <div class="form-group ">
                  <label for="exampleInputText">Your Message</label>
                 <textarea  class="form-control" placeholder="Description"></textarea> 
                </div>
                <button type="submit" class="btn btn-default">Send Message</button>
              </form>

              <hr>
                <h3>Our Social Sites</h3>
              <ul class="list-inline banner-social-buttons">
                <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
              </ul>
            </div>
          </div>
    </div>
  </div>

<div class="col-md-6 text-center">

<h2>FAQ</h2>

<uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </div>
</uib-accordion>

</div>
</div>
</div>
</div>
</body>

</html>
