<!-- Original page view document created by Jonathan Osorio -->
<!-- Updates made by: Jonathan Osorio and Michael Levecque -->
<body>
    <div class="gradient-banner fade-in" ng-hide=hide_footer ng-controller="FooterController as vm">
      <div class="container container-padding">
        <div class="row row-padding text-center">
          <div class="col-md-12"><span class="footer-text">© 2018 Heart Healthy Spirits LLC</span></div>
        </div>

        <div class="row row-padding text-center">
          <div class="col-sm-3"><a class="footer-link" ng-click="business_inquiry()">Business Inquiry</a></div>
          <div class="col-sm-3"><a class="footer-link" ng-click="public_inquiry()">Public Inquiry</a></div>
          <div class="col-sm-3"><a class="footer-link" ng-click="about_us()">About Us</a></div>
          <div class="col-sm-3"><a class="footer-link" ng-click="blog()">Blog</a></div>
        </div>
      </div>
    </div>
</body>