<div class="gradient-banner">
  <div class="container container-padding">
    <div class="row row-padding text-center">
      <div class="col-md-12"><span class="footer-text">Copyright © Heart Healthy Spirits. All rights reserved.</span></div>
    </div>
    <div class="row row-padding text-center">
      <div class="col-sm-3"><a class="footer-link" ui-sref="business_inquiry">Business Inquiry</a></div>
      <div class="col-sm-3"><a class="footer-link" ui-sref="faqs.list">Public Inquiry</a></div>
      <div class="col-sm-3"><a class="footer-link" ui-sref="abouts.list">About Us</a></div>
      <div class="col-sm-3"><a class="footer-link" ui-sref="articles.list">Blog</a></div>
  </div>
</div>