<div class="container fade-in" ng-hide=hide_header ng-controller="HeaderController as vm">
  <div>
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand">Heart Healthy Spirits</a>
  </div>
  <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ng-click="business_inquiry()">Business Inquiry</a></li>
      <li ui-sref-active="active"><a ng-click="public_inquiry()">Public Inquiry</a></li>
      <li ui-sref-active="active"><a ng-click="about_us()">About Us</a></li>
      <li ui-sref-active="active"><a ng-click="blog()">Blog</a></li>
    </ul>
  </nav>
</div>
