<body>


  <!-- Site banner? -->
  <section>
    <div class="jumbotron text-center" style="background-color: gold">
      <h1><strong> Just One Drop. </strong></h1>
    </div>
  </section> 

  <!-- promotional Video Embed -->
  <section class="text-center">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/si0TOwUMlIM" frameborder="0" allowfullscreen></iframe>
  </section>

  <!-- News articles/related images -->
  <section>
    <h2 class="text-center" style="background-color: gold">News</h2>
    <div class="row">
      <div class="col-sm-offset-1 col-md-4">
        <div>
          <img alt="grapeTest" class="img-responsive text-center" src="/modules/core/client/img/testImages/Red-Grapes-PNG.png"/>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-6">
        <h3 data-toggle="collapse" data-target="#body1">Title: Lorem Ipsum </h3>
        <h4>Author: Mr. Ipsum </h4>
        <p id="body1" class="collapse in">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <h3 data-toggle="collapse" data-target="#body2">Title: Lorem Ipsum </h3>
        <h4>Author: Mr. Ipsum </h4>  
        <p id="body2" class="collapse in">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>    
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-6">
        <h3 data-toggle="collapse" data-target="#body3">Title: Lorem Ipsum </h3>
        <h4>Author: Mr. Ipsum </h4>  
        <p id="body3" class="collapse in">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

        <h3 data-toggle="collapse" data-target="#body4">
          Title: Lorem Ipsum 
        </h3>
        <h4>
          Author: Mr. Ipsum 
        </h4>  
        <p id="body4" class="collapse in">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
      <div class="col-md-offset-1 col-md-4">
        <div>
          <img alt="grapeTest" class="img-responsive text-center" src="/modules/core/client/img/testImages/Red-Grapes-PNG.png"/>
        </div>
      </div>
    </div>   
  </section>


  <!-- Stuff I was testing to get accordions to work. Can probably delete later -->
  <!--
  <section>
    <h1 class="text-center" style="background-color: gold"> Accordion test using just bootstrap </h1>

    <div class="container">
      <h2>Accordion Example</h2>
      <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </div>
        </div>
      </div> 
    </div>
  </section>


  <section>
    <h3 style="background-color: gold">Accordion using ng-model</h3>


    <div>
      <input ng-model=collapse type=color> title
      <div ng-show=collapse>
        only show when checkbox is clicked
      </div>
    </div>
  </section>


  -->


    
  <!-- Dependencies -->
      
  <script src="/public/lib/jquery/dist/jquery.min.js"></script>
  <script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/public/lib/angular/angular.js"></script>
  <script src="/public/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/public/lib/angular-bootstrap/ui-bootstrap.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

  <!-- Application Source Code -->
  
  <script src="app/app.js"></script>
  <script src="app/config/listings.client.routes.js"></script>
  <script src="app/factories/listings.client.factory.js"></script>
  <script src="app/controllers/listings.client.controller.js"></script>
    

</body>

