<script src="/public/lib/jquery/dist/jquery.min.js"></script>
<script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/lib/angular/angular.js"></script>
<script src="/public/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/public/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script src="/modules/core/client/css/core.css"></script>

<section>
  <div class="jumbotron gradient-banner text-center">
    <span class="subtitle">Just One Drop.</span>
  </div>
</section>

<div class="parallax-heart">
  <div class="parallax-window">
    <div class="para-caption wow animated fadeInDown">The Official Heart Healthy Blog</div>
  </div>
</div>

<div class="container container-padding">
  <h1 class="wow animated fadeInLeft">We've Got You Covered</h1>
  <br>
  <p class="wow animated fadeIn">Keep up to date with all the latest company news and announcements.</p>

  <div class="row">
    <div class="col-md-8">
      <uib-accordion close-others="vm.oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" ng-repeat="article in vm.articles | filter:searchText">
          <a class="list-group-item">
            <uib-accordion-heading>
              <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}">
              </i>
              {{article.title}}
              by
              <span ng-if="article.user" ng-bind="article.user.displayName"></span>
              <span ng-if="!article.user">Deleted User</span>

              <span class="pull-right" ng-bind="article.created | date:'mediumDate'"></span>
              <span class="pull-right">Posted on &nbsp;</span>
            </uib-accordion-heading>
            <small class="list-group-item-text">
              Posted on
              <span ng-bind="article.created | date:'mediumDate'"></span>
              by
              <span ng-if="article.user" ng-bind="article.user.displayName"></span>
              <span ng-if="!article.user">Deleted User</span>
            </small>
            <p class="list-group-item-text" ng-bind="article.content"></p>
          </a>
        </div>
      </uib-accordion>
    </div>
    <div class="col-md-4">
      <div class="archive-title text-center">
        <span>Archive</span>
      </div>
      <div class="input-group pull-right" style="margin: 10px 0 30px 0" id="searchBar">
        <span class="input-group-addon" id="sizing-addon1">
          <span class="glyphicon glyphicon-search">
          </span>
        </span>
        <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
      </div>

      <div>
        <div class="panel-body">
          <uib-accordion>
            <div uib-accordion-group class="panel-default" ng-repeat="year in vm.years">
              <uib-accordion-heading>
                <i class="glyphicon glyphicon-folder-open"></i>
                {{year.number}}
              </uib-accordion-heading>
              <uib-accordion>
                <div uib-accordion-group class="panel-default" ng-repeat="month in vm.months">
                  <uib-accordion-heading>
                    <i class="glyphicon glyphicon-folder-open"></i>
                    {{month.name}}
                  </uib-accordion-heading>
                </div>
              </uib-accordion>
            </div>
          </uib-accordion>
        </div>
      </div>

    </div>
  </div>
</div>