<section>
  <div class="page-header">
    <h1>Admin</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <!-- articles edit page!-->
          <a ui-sref="admin.articles.list">Blog</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="admin.users">Users</a>
        </li>
        <!-- Add new links to site management here !-->
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div class="page-header">
        <div class="row">
          <div class="col-md-9" style="margin-top: 2em">
            <a class="btn btn-primary" ui-sref="authentication.signup()">New User</a>
          </div>
          <div class="col-md-3" style="margin-top: 2em">
            <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
          </div>
        </div>
      </div>
      <div class="list-group">
        <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
          <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
          <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
          <p class="list-group-item-text" ng-bind="user.email"></p>
        </a>
      </div>

      <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
</section>
