<!-- MAIN VIEW FOR HOME PAGE OF SITE -->
<!-- Originally created by: Matthew Avellanosa -->
<!-- Styled and edited by: Michael Levecque and Jonathan Osorio -->
<!-- Further edited by: Matthew Avellanosa, Jonathan Osorio, and Michael Levecque, Tess Bianchi -->

<!-- Animation -->
<div class="gradient-banner text-center fade" ng-hide="hide_animation" style="position:absolute; top:0; left:0; width:100%; height:100%;">
<svg viewBox="0 0 1200 1200" >
  <text class="fade-in txtTitle"
        text-anchor="middle"
        x="600"
        y="290"
        dy="0px"
        class="text"
        font-size="39"
        font-family="Oswald"
        >
      Just One Drop
  </text>
    

  <circle cx="700" cy="-20" r="3" fill="white">
    <animate id="drop" attributeName="cy" values={{vm.drop_path}} fill="freeze" begin="click" dur="{{vm.animation_length}}" />
  </circle>

  <path  d="M0,300 L 760, 300" stroke="white" stroke-width="2" fill="none">
    <animate id="line" attributeName="d" values={{vm.line_path}} fill="freeze" begin="click" dur="{{vm.animation_length}}" />
  </path>
  </svg>
</div>
<!-- End Animation -->

<section class="fade" ng-hide="hide_main">
    <!-- Consistent gradient banner under navbar -->
    <section>
      <div class="jumbotron gradient-banner text-center">
        <span class="subtitle">Just One Drop.</span>
      </div>
    </section>

    <!-- Opening parallax tile under gradient banner added to maintain consistency with all page views of the site -->
    <div class="parallax-heart">
      <div class="parallax-window">

        <!-- Client wanted to add this as the parallax title to get the best of both worlds by having "Heart Healthy Spirits" the name of the domain/site title, and then "Antioxidant Infusion Technology" as the main page opening parallax title-->
        <span class="para-caption wow animated fadeInDown">{{vm.hometext[0].parallaxCapt0}}</span>

      </div>
    </div>

    <!-- Video wrapper to act as a cover for featured product video -->
    <div class="video-cover" onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
    </div>
    <div style="display:none">
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/si0TOwUMlIM?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Parallax section divider -->
    <div class="parallax-heart">
      <div class="parallax-window">
        <span class="para-caption wow animated fadeInDown">{{vm.hometext[0].parallaxCapt1}}</span>
      </div>
    </div>

    <!-- "Snack" section with header and short blurb between parallax divider -->
    <div class="container container-padding">
      <h1 class="wow animated fadeInLeft">{{vm.hometext[0].heading1}}</h1>
      <h1 class="wow animated fadeInLeft">{{vm.hometext[0].heading2}}</h1>
      <br>
      <p class="wow animated fadeIn">{{vm.hometext[0].mainText1}}</p>
      <!-- 
      <p>This is a blurb that serves to briefly summarize the initial product video featured above, and reaffirm the impact and power of this product to bring the heart-healthy, antioxidant-based benefits of resveratrol into the new t*Rez solution.  This blurb should entice the reader to continue down the page to explore different artifacts (articles, releases, studies, etc).</p> -->
    </div>

    <!-- Parallax section divider -->
    <div class="parallax-heart">
      <div class="parallax-window">
        <span class="para-caption wow animated fadeInDown">{{vm.hometext[0].parallaxCapt2}}</span>
      </div>
    </div>

    <!-- Main meat section for display of all articles in the updated collapsible format -->
    <!-- News articles/related images -->
    <section>
      <div class="container container-padding">
        <h1 class="wow animated fadeInLeft">{{vm.hometext[0].releasesHeading}}</h1>
        <p class="wow animated fadeIn">{{vm.hometext[0].releasesText}}</p>

        <div class="row">
          <div class="col-md-12">
            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default" ng-repeat="release in vm.releases">
                <uib-accordion-heading>
                  <div class="accordion-block">
                    <!-- Press Release Source -->
                    <div class="accordion-source wow animated fadeIn">Source: {{release.source}}<span class="pull-right glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
                    <!-- Press Release Title -->
                    <span class="accordion-title wow animated fadeIn">{{release.title}},</span>
                    <!-- Press Release Author -->
                    <span class="accordion-author wow animated fadeIn">By: {{release.author}}</span>
                  </div>
                </uib-accordion-heading>
                {{release.content}}
              </div>
            </uib-accordion>
          </div>
        </div>
      </div>
    </section>
</section>