<!-- MAIN VIEW FOR HOME PAGE OF SITE -->
<!-- Originally created by: Matthew Avellanosa -->
<!-- Styled and edited by: Michael Levecque and Jonathan Osorio -->
<!-- Further edited by: Matthew Avellanosa, Jonathan Osorio, and Michael Levecque -->

<!DOCTYPE html>
<html>
  <head>
    <!-- Referencing core.css style sheet under modules/core/client/css -->
    <link rel="stylesheet" href="css/core.css">
  </head>

  <body>

    <!-- Consistent gradient banner under navbar -->
    <section>
      <div class="jumbotron gradient-banner text-center">
        <span class="subtitle">{{vm.bannerText}}</span>
      </div>
    </section>

    <!-- Opening parallax tile under gradient banner added to maintain consistency with all page views of the site -->
    <div class="parallax-heart">
      <div class="parallax-window">

        <!-- Client wanted to add this as the parallax title to get the best of both worlds by having "Heart Healthy Spirits" the name of the domain/site title, and then "Antioxidant Infusion Technology" as the main page opening parallax title-->
        <span class="para-caption">Antioxidant Infusion Technology</span>

      </div>
    </div>

    <!-- Video wrapper to act as a cover for featured product video -->
    <div onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
     <img class="img-responsive" src="/modules/core/client/img/testImages/res.png" style="cursor:pointer" />
    </div>
    <div style="display:none">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/si0TOwUMlIM?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Parallax section divider -->
    <div class="parallax-drop">
      <div class="parallax-window">
        <span class="para-caption">{{vm.ParallaxCaption1}}</span>
      </div>
    </div>

    <!-- "Snack" section with header and short blurb between parallax divider -->
    <div class="container container-padding">
      <h1>{{vm.Heading1}}</h1>
      <h1>{{vm.Heading2}}</h1>
      <br>
      <p>{{vm.mainText1}}</p>
      <!-- 
      <p>This is a blurb that serves to briefly summarize the initial product video featured above, and reaffirm the impact and power of this product to bring the heart-healthy, antioxidant-based benefits of resveratrol into the new t*Rez solution.  This blurb should entice the reader to continue down the page to explore different artifacts (articles, releases, studies, etc).</p> -->
    </div>

    <!-- Parallax section divider -->
    <div class="parallax-news">
      <div class="parallax-window">
        <span class="para-caption">{{vm.ParallaxCaption2}}</span>
      </div>
    </div>

    <!-- Main meat section for display of all articles in the updated collapsible format -->
    <!-- News articles/related images -->
    <section>
      <div class="container container-padding">
        <h1>{{vm.ReleasesHeading}}</h1>
        <p>{{vm.ReleasesText}}</p>

        <div class="row">
          <div class="col-md-12">
            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default" ng-repeat="release in vm.releases">
                <uib-accordion-heading>
                  <div class="accordion-block">
                    <!-- Press Release Source -->
                    <div class="accordion-source">Source: {{release.source}}<span class="pull-right glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
                    <!-- Press Release Title -->
                    <span class="accordion-title">{{release.title}},</span>
                    <!-- Press Release Author -->
                    <span class="accordion-author">By: {{release.author}}</span>
                  </div>
                </uib-accordion-heading>
                {{release.content}}
              </div>
            </uib-accordion>
          </div>
        </div>
      </div>
    </section>
      
    <!-- Dependencies -->
        
    <script src="/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/lib/angular/angular.js"></script>
    <script src="/public/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/public/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <!-- Application Source Code -->
    
    <script src="app/app.js"></script>
    <script src="app/config/listings.client.routes.js"></script>
    <script src="app/factories/listings.client.factory.js"></script>
    <script src="app/controllers/listings.client.controller.js"></script>
  </body>
</html>