<section>
  <div class="page-header">
    <h1>Releases</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="release in vm.releases" ui-sref="releases.view({ releaseId: release._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="release.created | date:'mediumDate'"></span>
        by
        <span ng-if="release.user" ng-bind="release.user.displayName"></span>
        <span ng-if="!release.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="release.title"></h4>
      <p class="list-group-item-text" ng-bind="release.content"></p>
    </a>
  </div>
</section>
