<section>
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <!-- articles edit page!-->
          <a ui-sref="admin.articles.list">Blog</a>
        </li>
        <li ui-sref-active="active">
          <!-- releases edit page!-->
          <a ui-sref="admin.releases.list">Press Releases</a>
        </li>
        <li ui-sref-active="active">
          <!-- releases edit page!-->
          <a ui-sref="admin.faqs.list">FAQ</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="admin.abouts.list">About Us</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="admin.users">Users</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a href="/api/auth/signout" target="_self">Signout</a>
        </li>
        <!-- Add new links to site management here !-->
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
