<!--ABOOUT US PAGE ORIGINALLY CREATED AND DEVELOPED BY MICHAEL LEVECQUE-->
<!--Initial: 10/19/2017 from 2:20 PM to 6:50 PM-->
<!--Updated: 10/29/2017 from 6:15 PM to 11:30 PM-->
<!-- Updates and edits made by: Jonathan Osorio and Michael Levecque -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/modules/core/client/css/core.css">
  </head>

  <body>
    <section>
      <div class="jumbotron gradient-banner text-center">
        <span class="subtitle">Just One Drop.</span>
      </div>
    </section>

    <!-- Start of the section-->
    <section>
      <!--Placeholder for banner, image or anything we/client decide is most appropriate-->
      <!-- <img class="card-img-top img-responsive center-block img-rounded" src="/modules/core/client/img/testImages/antioxidants.jpg" alt="Image not displaying"> -->

      <div class="parallax-blue">
        <div class="parallax-window">
          <span class="para-caption wow animated fadeInDown">{{vm.abouttext[0].parallaxCapt1}}</span>
        </div>
      </div>

      <div class="container container-padding">

        <!-- Animated header -->
        <h1 class="wow animated fadeInLeft">{{vm.abouttext[0].heading1}}</h1>
        <!-- Animated blurb -->
        <p class="wow animated fadeIn">{{vm.abouttext[0].shortText1}}</p>

        <div class="row card-deck">
          <div class="card col-md-4" ng-repeat="about in vm.abouts">
            <img class="card-img-top img-responsive center-block" ng-src="{{about.image}}" alt="Picture not up">
            <div class="card-header text-center">
              <h3 class="wow animated fadeInLeft" ng-bind="about.title"></h3>
            </div>
            <div class="card-block">
              <p class="card-text wow animated fadeIn" ng-bind="about.content"></p>
            </div>
          </div>
        </div>
      </div>

      <!--***************************************************************************************************************************************************-->
      <!--Accordion setup for the Mission Statement and the Gallery Accordions-->

      <div class="parallax-blue">
        <div class="parallax-window">
          <span class="para-caption wow animated fadeInDown">{{vm.abouttext[0].parallaxCapt2}}</span>
        </div>
      </div>

      <div class="container container-padding">

        <!-- Animated header -->
        <h1 class="wow animated fadeInLeft">{{vm.abouttext[0].heading2}}</h1>
        <!-- Animated blurb -->
        <p class="wow animated fadeIn">{{vm.abouttext[0].shortText2}}</p>
      <!-- </div> -->

      <!-- <div class="container"> -->
        <uib-accordion>
          <div uib-accordion-group class="panel-default" heading="Click to Expand">
            <p> THIS IS PLACEHOLDER CONTENT </p>
            <div class="row">
              <div class="col-md-12">
                <button class="custom-button center-block" ng-click="vm.slideDeckModal()">Find out more!</button>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>

      <div class="parallax-blue">
        <div class="parallax-window">
          <span class="para-caption wow animated fadeInDown">{{vm.abouttext[0].parallaxCapt3}}</span>
        </div>
      </div>

      <div class="container container-padding">
        <h1 class="wow animated fadeInLeft">{{vm.abouttext[0].heading3}}</h1>
        <br>
        <p class="wow animated fadeIn">{{vm.abouttext[0].shortText3}}</p>
      <!-- </div>

      <div class="container"> -->
        <uib-accordion>
          <div uib-accordion-group class="panel-default" heading="Click to Expand">
            <p>Coming Soon!</p>
          </div>
        </uib-accordion>
      </div>
    </section>
  </body>
</html>