.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/* This is for the contact pages*/
.form-control{
    display:table;
    margin:auto;
    max-width: 700px;
}

/* Our stuff */

.subtitle {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3%;
  width: 100%;
  height: 100%;
}

/* Gradient banner */
.gradient-banner {
  background: linear-gradient(231deg, #f7ff48, #ff3371);
  background-size: 400% 400%;

  -webkit-animation: gradient-banner 30s ease infinite;
  -moz-animation: gradient-banner 30s ease infinite;
  animation: gradient-banner 30s ease infinite;
}

@-webkit-keyframes gradient-banner {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
@-moz-keyframes gradient-banner {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
@keyframes gradient-banner { 
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}