/*CORE.CSS FILE THAT CONTROLS THE STYLIUNG FOR WHOLE SITE*/
/*EDITED BY: JONATHAN OSORIO AND MICHAEL LEVECQUE*/

.content {
  margin-top: 50px;
}

.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}

.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}

.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.error-text {
  display: none;
}

.has-error .help-block.error-text {
  display: block;
}

.has-error .help-inline.error-text {
  display: inline;
}

/* This is for the contact pages*/
.form-control{
    display:table;
    /*margin:auto;*/
    max-width: 500px;
}

/* custom css */

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-family: 'Oswald', sans-serif;
}

h5 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 30px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.container-padding {
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.row-padding {
  padding: 10px 0 10px 0;
}

.display {
  background-color: #ff1031;
}

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-top: 25px;
}

.navbar {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #cecece;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #cecece;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #b9b9b9;
}

.navbar-default .navbar-nav > .active > a{
  background-image: linear-gradient(to bottom, #FF3371 20%, #FF86AF 100%);
}

.navbar-default {
  background-image: linear-gradient(to bottom, #FF3371 25%, #DB2C65 100%);
  border-color: #DB2C65;
}

.navbar-brand {
  font-size: 25px;
  padding: 20px 25px 20px 25px;
}

.parallax-window {
  line-height: 30vh;
  text-align: center;
  vertical-align: middle;
}

/*PArallax custom class for blueberry background*/
.parallax-blue {
  background-attachment: fixed;
  background-image: url("/modules/core/client/img/testImages/blue.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}

/*Parallax custom class for heart healthy background*/
.parallax-heart {
  background-attachment: fixed;
  background-image: url("/modules/core/client/img/testImages/hearthealthyTest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh; 
}

/*Parallax custom class for wine background*/
.parallax-drop { 
  background-attachment: fixed;
  background-image: url("/modules/core/client/img/testImages/wine.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh; 
}

/*Parallax custom class for news background*/
.parallax-news { 
  background-attachment: fixed;
  background-image: url("/modules/core/client/img/testImages/news.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh; 
}

.navbar-nav > li > a{
  color: #750647;
  padding: 20px 25px 20px 25px;
}

.subtitle {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 30px; 
  text-align: left;
}

.para-caption {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  text-align: middle;
}

.head {
  background-color: #FF7961;
  font-family: 'Merriwether';
  font-size: 40px;
  padding: 20px 25px 20px 25px;
  text-align: center;
}

.video-wrapper {
  height: 0;
  padding-bottom: 35.5%; /* 16:9 is 56.25% */
  padding-top: 25px;
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  left: 0;
  padding: 0 10vw 0 10vw;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Gradient banner */
.gradient-banner {
  -moz-animation: gradient-banner 15s ease infinite;
  -webkit-animation: gradient-banner 15s ease infinite;
  animation: gradient-banner 15s ease infinite;

  background: linear-gradient(231deg, #f7ff48, #ff3371);
  background-size: 400% 400%;
}

@-webkit-keyframes gradient-banner {
  0%{background-position:84%}
  50%{background-position:17% 100%}
  100%{background-position:84%}
}
@-moz-keyframes gradient-banner {
  0%{background-position:84%}
  50%{background-position:17% 100%}
  100%{background-position:84%}
}
@keyframes gradient-banner { 
  0%{background-position:84%}
  50%{background-position:17% 100%}
  100%{background-position:84%}
}

.panel {
  box-shadow: none;
}

.panel-title {
  font-size: 24px;
}

.panel-default {
  border: 0;
}

.panel-heading {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 20px 0 20px 0;  
}

.panel-default > .panel-heading {
  background-color: transparent;
  background-image: none;
  color: #FF3371;
}

.panel-default > .panel-heading:hover {
  color: #F79827;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border: 0;
}

.accordion-block {
  border-top: solid 1px #ddd;
}

.accordion-source {
  color: #FF3371;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  padding: 10px 0 10px 0;
}

.accordion-title {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

.accordion-author {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.footer-text {
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.footer-link {
  color: #FF3371;
  font-family: 'Oswald', sans-serif;
}

/*Attempted to restyle button, will most likely have to work with Jon to do it correctly/effectively/efficiently.*/

.custom-button {
  border: none;
  color: #FF3371;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 10px 0 10px 0;
 /* text-align: center;
  align-items: center;
  background-color: white;
  vertical-align: middle;
  align-self: center;
*/
}

@media screen and (min-width: 240px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
  }
  .container-padding {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .para-caption {
    font-size: 40px;
  }
  .footer-text {
    font-size: 20px;
  }
  .footer-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 425px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
  .container-padding {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .para-caption {
    font-size: 48px;
  }
  .footer-text {
    font-size: 20px;
  }
  .footer-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
    line-height: 30px;
  }
  .container-padding {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .para-caption {
    font-size: 54px;
  }
  .footer-text {
    font-size: 24px;
  }
  .footer-link {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .container-padding {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .para-caption {
    font-size: 62px;
  }
  .footer-text {
    font-size: 28px;
  }
  .footer-link {
    font-size: 24px;
  }
}